
.buttonWspPosition{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 50;
}

.buttonWspDesign{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #34D399;
  color: #ffffff;
  font-weight: bold;
  padding: 1rem;
  border-radius: 9999px;
}

.buttonWspDesign:hover {
  background-color: #34D399;
  cursor: pointer;
}

.iconWhatsApp{
  color: #ffffff;
  font-size: 2.25rem;
}

.textWhatsApp{
  margin-left: 0.5rem;
  display: inline-block;
}